:root {
    --white: #fff;
    --orange: #f60;
    --black: #000;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    margin: 0;
    padding: 0 40px 0 0;
    height: 147px;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 280px;
    position: absolute;
    top: 0;
}

#navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}

#navigation a {
    color: var(--white);
    font-size: 0.8rem;
}

#icons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icons a {
    color: var(--orange);
}

#icons img {
    height: 147px;
    margin-left: 20px;
}

#explore {
    margin: 0;
    padding: 0;
    color: var(--white);
    background-image: url(../images/motocross.jpg);
    background-color: var(--orange);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explore h5 {
    font-size: 1rem;
    margin: 0;
}

#explore h1 {
    font-size: 3rem;
    margin: 20px 0;
}

#explore button {
    background-color: var(--orange);
    color: var(--white);
    border-style: none;
    padding: 30px 35px;
    transition: background-color 0.4s, color 0.4s;
}

#explore button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--orange);
}

#models {
    margin: 80px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#models div {
    width: 466px;
    height: 434px;
}

#models img {
    width: 100%;
    height: auto;
}

#models h6 {
    margin: 20px 0 10px;
    font-size: 0.7rem;
    font-weight: 700;
}

#models h4 {
    margin: 10px 0 0;
    font-size: 1.2rem;
    font-weight: 700;
}

#news {
    margin: 20px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#news img {
    width: 433px;
    height: 433px;
}

#news h4 {
    font-size: 0.9rem;
}

#news a {
    font-size: 1.4rem;
    font-weight: 900;
}

#news div a {
    color: var(--black);
    transition-property: color;
    transition-duration: 0.4s;
}

#news div a:hover {
    color: var(--orange);
}

#news p {
    line-height: 190%;
    font-size: 0.95rem;
    padding-right: 10px;
}

#video {
    margin: 60px 40px;
    display: grid;
    grid-template-columns: 363px 363px 720px;
    grid-template-rows: repeat(2, 270px);
}

#video a {
    overflow: hidden;
}

video {
    position: relative;
    top: -235px;
    right: 109px;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 1;
    grid-row: 2;
}

.four {
    grid-column: 2;
    grid-row: 2;
}

#video div {
    grid-row: span 2;
    grid-column: 3;
    color: var(--white);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#video div h2 {
    margin-bottom: -5px;
    font-size: 2rem;
}

#video div p {
    color: #bdbdbd;
    margin: 5px 0 50px;
}

#video div hr {
    width: 10%;
    border-bottom: 1px solid #bdbdbd;
}

#video div button {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    padding: 25px 40px;
    font-size: 0.7rem;
    transition: color 0.4s, border 0.4s;
}

#video div button:hover {
    color: var(--orange);
    border: 1px solid var(--orange);
}

#newsletter {
    margin: 15px 0;
}

#newsletter div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#right-arrow {
    display: none;
}

#sign-up-btn {
    border: 1px solid var(--orange);
    padding: 25px 40px;
    color: var(--orange);
    background-color: var(--white);
    /* transition: 0.5s; */
}

#sign-up-btn:hover #right-arrow { 
    display: inline;
}

#newsletter hr {
    border-bottom: 1px solid #bdbdbd;
    margin-top: 80px;
}

#newsletter p {
    width: 50%;
    margin: 40px auto;
    text-align: center;
    font-size: 0.8rem;
    color: #bdbdbd;
    line-height: 150%;
}

footer {
    background-color: var(--black);
    color: var(--white);
    padding: 30px;
    margin: 0;
    padding: 30px;
}

#links {
    display: grid;
    grid-template-columns: repeat(5, 265px);
    gap: 20px;
}

#links a {
    color: var(--white);
    font-size: 0.9rem;
}

.link-column {
    margin: 40px 0;
    padding: 0;
    font-size: 1.1rem;
}

.link-column ul {
    margin: 0;
    padding: 0;
}

.link-column li {
    padding: 5px 0;
}

.link-column:nth-child(5) ul {
    display: flex;
    justify-content: space-between;
}

#footer-icons a {
    font-size: 1.2rem;
}

#footer icons a:hover {
    color: var(--white);
}

.ending {
    display: flex;
    justify-content: space-between;
}

.ending p {
    font-size: 0.8rem;
    color: #bdbdbd;
    margin: 40px 0;
}

#back-to-top {
    background-color: var(--black);
    border-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#back-to-top a {
    color: var(--orange);
    font-weight: 600;
}
